@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* header/navbar styling............. */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0px 30px;
}

.brand-logo {
  width: 245px;
  height: auto;
}

.brand-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.main-menu {
  margin-right: 50px;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  position: relative;
  margin-right: 20px;
}

.main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(49, 196, 164);
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-menu ul li a:hover::after {
  transform: scaleX(1);
  transition-duration: 0.4s;
}

/* Section styling................ */

section {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-transform: uppercase;
}

.section-a {
  background-image: url("src/images/section-a.webp");
}

.section-b {
  background-image: url("src/images/section-b.webp");
}

.section-c {
  background-image: url("src/images/section-c.webp");
}

.section-d {
  background-image: url("src/images/section-d.webp");
}

.section-e {
  background-image: url("src/images/section-e.webp");
}

.section-f {
  background-image: url("src/images/section-f.webp");
}

.section-g {
  background-image: url("src/images/section-g.jpeg");
}
.section-inner {
  position: absolute;
  left: 150px;
  bottom: 200px;
  max-width: 565px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
  animation-fill-mode: both;
}

.section-inner h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 700;
  animation: fadeInUp 0.5s ease-in-out 0.3s;
  animation-fill-mode: both;
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.5s;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
}

.btn:hover span {
  color: #000;
}

.btn .btn-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  z-index: -1;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .btn-hover {
  transform: translateX(0%);
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeBounce 5s infinite;
}

footer {
  position: relative;
  padding: 50px 0px;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.3;
  color: #aaaa;
}

footer ul li a {
  color: #fff;
  transition: color 1.9s;
}

footer ul li a:hover {
  color: #91f056;
}

/* Hamberg-menu styling.......... */

.hamberg-menu {
  position: fixed;
  top: 40px;
  right: 30px;
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.hamberg-menu-top,
.hamberg-menu-middle,
.hamberg-menu-bottom {
  position: absolute;
  width: 30px;
  height: 4px;
  left: 0;
  top: 0;
  background: greenyellow;
  transition: all 0.5s;
}

.hamberg-menu-middle {
  transform: translateY(8px);
}

.hamberg-menu-bottom {
  transform: translateY(15px);
}

.open {
  transform: rotate(90deg);
  top: 36px;
}

.open .hamberg-menu-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamberg-menu-middle {
  display: none;
}
.open .hamberg-menu-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* overlay effect on background once you click on hamberg menu */
.overlay-show {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

/* stop scrolling when hanberg menu item open */
.stop-scrolling {
  overflow: hidden;
}

/* hide mobile menu....... */

.mobile-only {
  display: none;
}

.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.show-menu {
  transform: translateY(0%);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.mobile-main-menu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
}

.mobile-main-menu ul li a {
  color: #fff;
  transition: color 1.5s;
}

.mobile-main-menu ul li:hover {
  border-bottom: 2px solid yellow;
  transition: border-bottom 1.5s;
}

.mobile-main-menu ul li a:hover {
  color: #aaaa;
}
/* Animation........... */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(140px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
  40% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* media queries........... */

@media (max-width: 960px) {
  .main-menu {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 25px;
  }
  .section-inner h2 {
    font-size: 30px;
  }
  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer ul li {
    margin-right: 15px;
  }
  .brand-logo {
    width: 150px;
    margin: auto;
  }
  .section-a {
  }
}
